.bonus {
    background-color: var(--color-bg-dark);
    padding: 32px 0;


    @media (min-width: 1000px) {
        padding: 0;
    }

    &__wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


        @media (min-width: 1000px) {

            flex-direction: row-reverse;
            justify-content: flex-end;
            gap: 64px;
        }
    }

    &__image {
        width: 335px;
        height: 352px;
        border-radius: 16px;
        background-image: url('./../img//bonus/phone.png');
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;

        @media (min-width: 1000px) {
            width: 560px;
            height: 657px;
        }

        @media (min-width: 1200px){
            background-size: 610px 567px;
        }

    }

    // .bonus__img
    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }


    &__image,
    &__text {}

    &__content {
        display: flex;
        flex-direction: column;
        margin-top: -128px;
        padding-top: 32px;
        background: $colorBGDarck;

        @media (min-width: 1000px) {
            margin-top: 0;
            max-width: 470px;
            padding-top: 0;
        }

        @media (min-width: 1200px){
            max-width: 592px;
        }
    }

    &__title {
        font-family: 'NewBaskervilleC';
        font-weight: 400;
        font-size: 32px;
        line-height: 40px;
        color: $textColorTitle;
        letter-spacing: 1.4px;

        @media (min-width: 1000px) {

            font-size: 48px;
            line-height: 56px;
        }

    }

    &__list,
    &__text {
        color: var(--color-text-gray);
    }

    &__list {
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin: 36px 0 26px;

    }

    &__item {
        font-family: 'Jost';
        font-weight: 400;
        font-size: 15px;
        line-height: 24px;
        letter-spacing: -0.2px;
        padding: 8px 0;
        border-top: 1px solid var(--color-decor);
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 32px;

        @media (min-width: 1000px) {
            letter-spacing: 0.5px;
        }
    }

    &__pocent {

        font-family: 'Jost';

        font-weight: 400;


        font-size: 40px;
        line-height: 48px;
        color: var(--color-text-accent);

    }

    &__text {
        font-family: 'Jost';
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: $textColorGray;
        letter-spacing: 0;
        margin-bottom: 28px;

    }


    // .bonus__download
    &__download {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;

        @media (min-width: 1000px) {
            flex-direction: row;

        }
    }

    // .bonus__button
    &__button {

        width: 100%;
        max-width: 375px;
        height: 48px;
        color: $textColorMain;
        display: flex;
        align-items: center;
        letter-spacing: 0.3px;
        padding-left: 95px;
        background: #C7A17A;
        border-radius: 8px;

        @media (min-width: 1000px) {
            max-width: 228px;
            padding-left: 48px;
        }





        &--app,
        &--google {
            position: relative;

            &::after {
                @include pseudo;

                width: 16px;
                height: 16px;
                position: absolute;
                top: 50%;
                left: 74px;
                transform: translate(-50%, -50%);

                @media (min-width: 1000px) {
                    left: 26px;
                }


            }


        }

        &--app {
            &::after {
                @include background (url("./../img/bonus/app.svg"));
            }
        }

        &--google {
            &::after {
                @include background (url("./../img/bonus/google_play.svg"));
            }


        }
    }


}