.event {
  padding: 130px 0 0;

  @media (min-width:768px) {
    padding-top: 230px;
  }

  &__top {
    @media (min-width:768px) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__top-title {
    @include text(32px, 1.2, $textColor);
    margin-bottom: 15px;
    margin-right: 15px;

    @media (min-width:768px) {
      font-size: 38px;
    }

    @media (min-width:1024px) {
      font-size: 52px;
    }

    @media (min-width:1440px) {
      font-size: 64px;
      max-width: 590px;
    }
  }

  &__top-text {
    @include text(16px, 1.5, $textColorGallery);
    margin-bottom: 15px;
    min-width: 335px;

    @media (min-width:768px) {
      max-width: 400px;
    }

    @media (min-width:1024px) {
      max-width: 504px;
    }

    @media (min-width:1440px) {
      font-size: 18px;
      max-width: 592px;
      width: 100%;
    }
  }

  &__content-item {
    padding: 15px 0 30px;
    border-bottom: 1px solid #EFEFEF;
  }

  &__info {
    margin-bottom: 24px;

    @media (min-width:1024px) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__descr {
    min-width: 335px;
    margin-bottom: 15px;

    @media (min-width:1024px) {
      max-width: 470px;
    }

    @media (min-width:1440px) {
      max-width: 592px;
    }
  }

  &__descr-title {
    @include text(24px, 1.3, $textColorGallery);
    margin-bottom: 8px;

    @media (min-width:576px) {
      font-size: 32px;
    }

    @media (min-width:1024px) {
      font-size: 40px;
    }
  }

  &__price,
  &__capacity,
  &__area {
    display: flex;
    align-items: center;
    padding: 8px 0 16px;
    border-top: 1px solid #EFEFEF;
    border-bottom: 1px solid #EFEFEF;

    @media (min-width:1024px) {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      max-width: 176px;
      height: 166px;
      margin: 0;
      border: none;
      padding: 0;
    }
  }

  &__price-number,
  &__capacity-number,
  &__area-number {
    @include text(40px, 1.2, #C7A17A);
    margin-right: 15px;
    width: 74px;

    @media (min-width:1024px) {
      display: none;
    }
  }

  &__price-number--desktop,
  &__capacity-number--desktop,
  &__area-number--desktop {
    display: none;

    @media (min-width:1024px) {
      display: block;
      @include text(14px, 1.2, #C7A17A);

      span {
        font-size: 40px;
      }
    }
  }

  &__capacity-number {
    padding-right: 32px;
  }

  &__price-text,
  &__capacity-text,
  &__area-text {
    @include text(16px, 1.3, $textColorGallery);

    span {
      color: #C7A17A;
    }

    @media (min-width:1024px) {
      span {
        display: none;
      }
    }
  }

  &__area {
    border-bottom: none;
    padding-bottom: 0;
  }

  &__area-text {
    max-width: 102px;
  }

  &__organization {
    padding: 30px 0;
  }

  &__organization-title {
    @include text(24px, 1.3, $textColor);
    margin-bottom: 15px;

    @media (min-width:576px) {
      font-size: 36px;
    }

    @media (min-width:1024px) {
      font-size: 48px;
    }
  }

  &__organization-box {
    @media (min-width:1024px) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__organization-item {
    min-width: 335px;

    &:not(:last-child) {
      margin-bottom: 16px;
    }

    @media (min-width:1024px) {
      max-width: 592px;
    }
  }

  &__organization-text {
    margin-bottom: 15px;
  }

  &__organization-phone {
    @include text(24px, 1.3, #C7A17A);
  }

  &__organization-links {
    @media (min-width:576px) {
      margin-top: 35px;
    }
  }

  &__organization-link {
    &--white {
      background-color: $bgColor;
      border: 1px solid #C7A17A;
      color: #C7A17A;
      border-radius: 8px;
      width: 100%;
      padding: 14px 0;
      display: block;
      text-align: center;

      @media (min-width:576px) {
        padding: 14px 20px;
        display: inline;
      }
    }

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    @media (min-width:576px) {
      padding: 14px 20px;
      display: inline;
    }
  }
}