.events {
	margin-top: -12px;
	padding-bottom: 32px;
	padding-top: 130px;


	@media (min-width: 1000px) {
		padding: 230px 0 66px;
		margin-top: 0;
	}


	// .events__wrapper
	&__wrapper {
		display: flex;
		flex-direction: column;
	}

	// .events__block
	&__block {
		@media (min-width: 1000px) {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 35px;
		}

	}

	// .events__title
	&__title {
		font-family: 'NewBaskervilleC';
		font-weight: 400;
		font-size: 32px;
		line-height: 40px;
		letter-spacing: 1.9px;
		color: $textColor;
		margin-bottom: 20px;

		@media (min-width: 1000px) {
			font-size: 48px;
			line-height: 56px;
			margin: 0;

		}
	}

	// .events__menu
	&__menu {
		display: flex;
		gap: 24px;

		@media (min-width: 1000px) {}
	}



	// .events__list-item
	&__list-item {}



	// .events__link
	&__link {

		font-family: 'Jost';

		font-weight: 400;
		font-size: 16px;
		line-height: 20px;
		letter-spacing: 0.1px;
		position: relative;
		max-width: max-content;
		color: #808080;

		&::after {
			@include pseudo;

			position: absolute;
			bottom: -20px;
			left: 0;
			width: 100%;
			height: 1px;
			background-color: var(--color-accent);
			opacity: 1;

			transition: all 0.2s ease-in;
			transform: scale(0);

		}


		&:hover {
			&:after {
				transform: scale(1);

			}

			color: $colorAccent;
		}



	}

	// .events__item

	&__item {
		border-top: 1px solid #E0E0E0;
		margin-top: 16px;
		margin-bottom: 16px;

		@media (min-width: 1000px) {
			padding-top: 32px;
			display: flex;
			gap: 32px;
		}
	}

	// .events__date
	&__date {

		display: flex;
		gap: 10px;
		margin: 16px 0;

		@media (min-width: 1000px) {
			margin: 0;
			max-height: 96px;
			min-width: 130px;
			max-width: 130px;
		}

		@media (min-width: 1200px) {
			min-width: 170px;
			max-width: 170px;
		}
	}

	// .events__day
	&__day {
		border-right: 1px solid #E5D9D8;
		padding-right: 10px;
		font-family: 'Jost';

		font-weight: 400;
		font-size: 40px;
		line-height: 48px;

		text-align: center;

		color: #503D3B;

		@media (min-width: 1000px) {}
	}

	// .events__date-box
	&__date-box {
		display: flex;
		flex-direction: column;

		@media (min-width: 1000px) {}

	}

	// .events__month--big
	&__month--big {
		font-family: 'Jost';
		font-weight: 400;
		font-size: 24px;
		line-height: 32px;
		color: #503D3B;

		@media (min-width: 1000px) {}
	}


	// .events__mounth
	&__mounth {}

	// .events__fullhday
	&__fullhday {}

	// .events__fullhday--small
	&__fullhday--small {


		font-family: 'Jost';

		font-weight: 400;
		font-size: 24px;
		line-height: 32px;


		color: #BA948F;

		@media (min-width: 1000px) {}


	}


	// .events__img
	&__img {

		width: 335px;
		height: 220px;
		object-fit: cover;
		border-radius: 16px;

		@media (min-width: 1000px) {
			width: 250px;
			height: 200px;
		}

		@media (min-width: 1200px) {
			width: 320px;
			height: 212px;
		}
	}




	// .events__description
	&__description {
		margin-bottom: 16px;

		@media (min-width: 1000px) {
			max-width: 290px;
			margin-bottom: 0;

		}
	}

	a &__img:hover {
		box-shadow: 0 0 10px 2px $colorAccent;
	}

	a &__titleDesc:hover {
		color: $colorAccent;
	}

	// .events__titleDesc
	&__titleDesc {

		font-family: 'Jost';
		font-style: normal;
		font-weight: 500;
		font-size: 24px;
		line-height: 32px;
		letter-spacing: 0.1px;


		color: $textColor;

		margin: 16px 0px;

		@media (min-width: 1000px) {
			margin: 0 0 16px;
		}

	}

	// .events__desc
	&__desc {


		font-family: 'Jost';
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 26px;
		letter-spacing: 0.1px;

		color: #503D3B;

		@media (min-width: 1000px) {}


	}

	// .events__desc--compress
	&__desc--compress {
		letter-spacing: -0.2px;

		@media (min-width: 1000px) {}
	}

	// .events__btn
	&__btn {
		display: flex;
		justify-content: space-between;
		gap: 32px;

		@media (min-width: 1000px) {}
	}


	// .events__bn--column
	&__btn--column {
		flex-direction: column;
		gap: 6px;
	}


	// .events__text-box
	&__text-box {
		display: flex;
		flex-direction: column;
		gap: 6px;

		@media (min-width: 1000px) {}

	}

	// .events__time
	&__time {
		letter-spacing: 0.1px;

		@media (min-width: 1000px) {}
	}

	// .events__place
	&__place {
		font-family: 'Jost';
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;

		color: #BA948F;



	}

	// .events__place--width
	&__place--width {
		@media (min-width: 1000px) {
			max-width: 182px;
			min-width: 182px;


		}
	}


	// .events__days
	&__days {}

	// .events__button
	&__button {
		line-height: 20px;
		color: $textColorMain;
		background: #C7A17A;
		border-radius: 8px;
		padding: 14px 20px;
		height: 48px;
		width: 182px;
		display: flex;
		align-items: center;
		justify-content: center;

		@media (min-width: 1000px) {}
	}

	// .events__button-link
	&__button-link {
		margin-top: 8px;
		line-height: 20px;
		color: $textColorActive;
		border-radius: 8px;
		padding: 14px 20px;
		max-width: 335px;
		display: flex;
		align-items: center;
		justify-content: center;

		position: static;
		width: 100%;
		height: 48px;


		border: 1px solid rgba(199, 161, 122, 0.55);
		border-radius: 8px;

		&:hover {
			color: $colorTextLight;
			background-color: $colorTextAccent;
		}

		&:active {
			background-color: hsl(0, 0%, 80%);
			color: $colorTextLight;
		}

		@media (min-width: 1000px) {
			display: none;
		}
	}

	// .events__button-link--mob
	&__button-link--mob {
		display: none;

		@media (min-width: 1000px) {
			display: block;
			max-width: 130px;
			margin: 0;
		}
	}


}