.gallery {

	@media (min-width: 1000px) {
		padding-top: 50px;
	}

	&__inner {
		padding-top: 32px;

		@media (min-width: 1000px) {
			display: flex;
			justify-content: space-between;
		}
	}

	&__title {
		font-size: 32px;
		line-height: 40px;
		font-weight: 400;
		font-family: "NewBaskervilleC";
		color: $textColor;

		@media (min-width: 1000px) {
			font-size: 48px;
		}

	}

	&__text {
		font-family: 'Jost';
		margin-top: 16px;
		font-size: 16px;
		line-height: 26px;
		letter-spacing: 0.1px;
		color: $textColorGallery;

		@media (min-width: 1000px) {
			max-width: 592px;
			margin-top: 0;
			margin-left: 30px;
		}
	}

	&__slider-wrap {
		margin: 32px auto;
		padding-left: 20px;
		width: 100%;
		overflow: hidden;
	}

	&__slider {
		width: 100%;
	}

	&__slider-item {
		max-width: 310px !important;
		margin-right: 15px !important;

		@media (min-width: 1000px) {
			margin-right: 0 !important;
			max-width: 100% !important;
		}
	}

	&__slider-inner {
		max-height: 464px;

		@media (min-width: 1000px) {
			margin-right: 80px;
		}

		a {
			display: none;
			border-radius: 25px !important;

			@media (min-width: 1000px) {
				display: block;
			}
		}

		a:first-child {
			display: block;
		}

		a:nth-child(2) {
			@media (min-width: 1000px) {
				grid-area: 1/1/2/2;
			}
		}

		a:nth-child(3) {
			@media (min-width: 1000px) {
				grid-area: 1/2/3/3;
			}
		}

		a:nth-child(4) {
			@media (min-width: 1000px) {
				grid-area: 1/3/3/5;
			}
		}

		img {
			width: 100%;
			height: 250px;

			@media (min-width: 1000px) {
				height: 100%;
			}
		}

		@media (min-width: 1000px) {
			display: grid;
			grid-gap: 16px;
			grid-template-columns: repeat(5, 20%);
			grid-template-rows: minmax(200px, 1fr) minmax(200px, 1fr);
			;
		}
	}

}



img.mfp-img {
	width: 600px !important;
	height: 500px !important;
	width: 600px !important;
	height: 500px !important;
	object-fit: cover !important;

	@media (min-width: 1200px) {
		width: 100% !important;
		height: 100% !important;
		min-width: 400px !important;
		min-height: 600px !important;
		max-width: 1200px !important;
		max-height: 100vh !important;
		object-fit: contain !important;

	}
}

.slick-dots {
	bottom: -35px !important;

	li.slick-active {
		width: 40px !important;
		height: 4px !important;
		border-radius: 4px;
		background-color: #C7A17A !important;

		button {
			display: none;
		}
	}
}

.slick-slide {
	@media(min-width: 375px) {
		max-width: 335px !important;
	}

	@media (min-width: 1000px) {
		max-width: 100% !important;
	}
}