.main {
	padding: 80px 0;

	@include background(url("./../img/main/main-bg.jpg"));

	@include media(min, xl) {
		@include background(url("./../img/main/main-bg.jpg"));

		padding: 285px 0;
	}

	// .main__wrapper
	&__wrapper {}

	// .main__slogo
	&__slogo {
		opacity: 0;
		height: 360px;

		@include media(min, xl) {
			@include flex(center, center, wrap, column);
			opacity: 1;
			gap: 32px;
		}
	}

	// .main__title
	&__title {
		color: $textColorHome;
		max-width: 800px;
	}

	// .main__subtitle
	&__subtitle {
		color: $textColorHome;
		max-width: 500px;
	}

	// .main__button
	&__button {
		max-width: 188px;
		margin: 0 auto;
		@include media(min, xl) {
			display: none;
		}
	}
}