.menu {
    background-color: var(--color-accent-dark);
    padding: 32px 0;


    @media (min-width:1000px) {
        padding: 80px 0;

        .container {
            padding: 0;

            max-width: 100%;
        }
    }

    // .menu__wrap
    &__wrap {
        display: flex;
        flex-direction: column;

        @media (min-width:1000px) {
            gap: 64px;
            align-items: center;
        }

        @media (min-width:1200px) {
            flex-direction: row;

        }
    }

    // .menu__img
    &__img {
        width: 335px;
        height: 224px;
        max-width: 100%;
        max-height: 100%;
        margin-bottom: 32px;

        @media (min-width:1000px) {
            width: 600px;
            height: 630px;
        }

        @media (min-width:1400px) {
            width: 780px;
            height: 639px;
            margin-bottom: 0;
        }
    }

    // .menu__box
    &__box {
        display: flex;
        flex-direction: column;
        max-width: 560px;

        @media (min-width:767px) {
            max-width: 100%;
        }

        @media (min-width:1000px) {
            max-width: 560px;
        }

    }


    // .menu__desc
    &__desc {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-bottom: 32px;

        @media (min-width:1000px) {
            gap: 18px;
            margin-bottom: 0;
        }
    }

    // .menu__title
    &__title {


        font-family: 'NewBaskervilleC';

        font-weight: 400;
        font-size: 32px;
        line-height: 40px;

        @media (min-width:1000px) {

            font-size: 48px;
            line-height: 56px;
        }

    }

    // .menu__text
    &__text {
        font-family: 'Jost';

        font-weight: 400;
        font-size: 16px;
        line-height: 26px;

        color: $textColorGray;


    }
}