.offers {
  background-color: #FAF5F0;
  padding: 32px 0 48px;

  &__top {
    padding-bottom: 28px;
    border-bottom: 1px solid #E5D9D8;

    @media (min-width:1024px) {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      padding-bottom: 32px;
    }
  }

  &__top-title {
    @include text(32px, 1.2, $textColor);
    max-width: 320px;
    margin-bottom: 15px;

    @media (min-width:768px) {
      font-size: 36px;
    }

    @media (min-width:1024px) {
      font-size: 40px;
      max-width: 465px;
      font-weight: 400;
      margin: 0;
    }

  }

  &__top-text {
    margin-bottom: 16px;

    @media (min-width:1024px) {
      max-width: 382px;
    }
  }

  &__top-box {
    display: flex;
    align-items: flex-start;

    @media (min-width:1024px) {
      flex-direction: column;
      height: 95px;
      max-width: 176px;
    }
  }

  &__top-number {
    @include text(40px, 1.2, #C7A17A);
    padding-right: 15px;

    @media (min-width:1024px) {
      display: none;
    }
  }

  &__top-number--desktop {
    display: none;

    @media (min-width:1024px) {
      @include text(40px, 1.2, #C7A17A);
      display: block;

      span {
        font-size: 14px;
      }
    }
  }

  &__top-text {
    @media (min-width:1024px) {
      margin: 0;
    }

    span {
      display: block;
      color: #C7A17A;

      @media (min-width:1024px) {
        display: none;
      }
    }
  }

  &__content {
    padding-top: 4px;
  }

  &__box {
    padding: 16px 0;

    &:not(:last-child) {
      border-bottom: 1px solid #E5D9D8;
    }

    @media (min-width:1024px) {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      padding: 32px 0;
    }
  }

  &__box-image {
    margin-bottom: 15px;

    @media (min-width:1024px) {
      width: 320px;
      height: 212px;
      margin-bottom: 0;
      margin-right: 10px;
    }
  }

  &__box-descr {
    min-width: 335px;

    @media (min-width:1024px) {
      max-width: 572px;
    }
  }

  &__box-title {
    @include text(24px, 1.3, $textColor);
    margin-bottom: 15px;
  }

  &__box-text {
    margin-bottom: 15px;
    color: $textColorGallery;

    @media (min-width:1024px) {
      margin-bottom: 0;
      margin-right: 10px;
    }
  }

  &__box-info {
    @media (min-width:1024px) {
      width: 280px;
    }
  }

  &__box-time,
  &__box-price {
    @include text(16px, 1.5, #C7A17A);
    display: inline-block;
  }

  &__box-time {
    margin-right: 32px;
  }

  &__item-text {
    margin-top: 15px;
    color: $textColorGallery;
  }

  &__box-list {
    margin-top: 15px;
    padding-left: 25px;
  }

  &__box-item {
    position: relative;

    &:not(:last-child) {
      margin-bottom: 4px;
    }

    &::before {
      position: absolute;
      content: " ";
      // @include pseudo;
      background-color: $textColorGallery;
      border-radius: 50%;
      width: 3px;
      height: 3px;
      left: -18px;
      top: 8px;
    }
  }
}