.solution {
    background-color: #FAF5F0;

    &__inner{
        padding: 32px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__info{
        display: flex;
        flex-direction: column;
    }
    &__button {
        background-color: transparent;
        outline: none;
        border: 1px solid rgba(199, 161, 122, 0.55);
        border-radius: 8px;
        transition: 0.5s;
        padding: 10px 95px;
        margin-bottom: 8px;
        @extend %description-text;
        color: #C7A17A;
        max-width: 335px;
    }

    &__button:hover {
        transition: 0.5s;
        background-color: #C7A17A;
        color: #fff;
    }

    .banquets__description {
        max-width: 335px;
    }
}

.application {
    color: #FFFFFF;
    background-color: #C7A17A;
    margin: 15px 0 20px;
}

@media (min-width:425px) {
    .solution {
        &__info{
            align-items:center;
        }
        &__buttons {
            width: 325px;
        }

        .banquets__description {
            max-width: 425px;
        }
    }
}

@media (min-width: 768px) {
    .solution {
        &__info{
            align-items: flex-start
        }
        &__buttons{
            width: 100%;
        }
        .banquets__description {
            max-width: 100%;
        }

        .banquets__contacts {
            text-align: left;
            margin-right: 55px;
        }

        &__buttonsApp {
            display: flex;
        }
    }
}

@media (min-width: 1024px) {
    .solution {
        &__inner{
            padding: 80px 0;
            flex-direction: row;
            align-items: flex-start;
            flex-wrap: wrap;
        }
        &__info {
            margin-right: 33px;
        }

        &__buttons {
            display: flex;       
        }
        &__button {
            padding: 10px 23px;
            width: auto;
            margin-top: -7px;
            margin-right: 10px;
        }

        .banquets__description {
            flex-direction: column;
            max-width: 480px;
        }

        .banquets__contacts {
           
        }

        .banquets__description:first-child {
            display: none;
        }

        .descriptionBlock {
            display: none;
        }

        .descriptionSecond {
            margin-bottom: 15px;
        }

        .banquets__title {
            font-size: 53px;
            width: 100%;
            margin-bottom: 25px;
        }

        &__buttonsApp {
            display: flex;
            flex-direction: row;
            margin-top: -10px;
        }

        .application {
            color: #FFFFFF;
            background-color: #C7A17A;
            margin: 9px 0 19px;
            padding: 12px 20px;
            height: 48px;
        }
    }

}


@media (min-width: 1592px) {
    .solution {

        .banquets__description {
            max-width: 647px;
        }

    }

}