.title {
	font-family: 'NewBaskervilleC';
	font-weight: 400;
	font-size: 72px;
	line-height: 111%;
	text-align: center;

	color: $textColor;

}

.subtitle {
	font-family: 'Jost';
	font-weight: 400;
	font-size: 24px;
	line-height: 133%;

	text-align: center;

	color: $textColor;

}

.text {
	font-family: 'Jost';
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;

	color: $textColor;
}