.drop-down {


	// .drop-down__wrap
	&__wrap {
		display: flex;
		justify-content: flex-start;
		flex-direction: column;
		gap: 32px;
		position: fixed;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		overflow: auto;
		background-color: $bgColorDropDown;
		transition: left 0.3s ease 0s;
		z-index: 10;
		padding: 220px 50px 0;

		.drop-down--open & {
			left: 0;
		}

		@media (min-width:1150px) {
			flex-direction: row;
			justify-content: center;
		}


	}

	// .drop-down__list
	&__list {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
	}

	// .drop-down__item
	&__item {
		list-style-position: inside;

		font-family: 'Jost';

		font-weight: 400;
		font-size: 18px;
		line-height: 32px;

		&:first-child {
			font-size: 32px;
			line-height: 40px;
			font-family: 'NewBaskervilleC';
			margin-bottom: 20px;

			a {
				color: var(--color-text-light);
			}
		}
	}

	// .drop-down__link
	&__link {
		position: relative;
		max-width: max-content;
		color: var(--color-text-gray);

		&::after {
			@include pseudo;

			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 1px;
			background-color: var(--color-accent);
			opacity: 1;

			transition: all 0.2s ease-in;
			transform: scale(0);

		}

		&:hover {
			color: var(--color-accent);

			&.drop-down__link:after {
				transform: scale(1);

			}
		}
	}
}