.header {
    position: absolute;
    z-index: 50;
    top: 0;
    left: 0;
    width: 100%;
    height: 113px;


    font-family: 'Jost';

    font-weight: 500;
    font-size: 14px;
    line-height: 20px;

    text-align: center;

    text-transform: uppercase;


    color: $textColorMain;



    @media (min-width:1000px) {

        .container {
            padding: 0 48px;
            max-width: 100%;
        }
    }



    // .header__wrapper
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 12px 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.08);

        @media (min-width:1280px) {
            padding: 0;
            border: none;
        }


    }

    // .header__block
    &__block {
        display: flex;
        align-items: center;
        gap: 34px;

        @media (min-width:1280px){
            padding-right: 20px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.08);

        }
        @media (min-width:1450px) {
            // margin-right: 380px;
            gap: 50px;
        }
    }
    &__block-right{
        display: flex;
        justify-content: space-between;
        gap: 34px;

        @media (min-width:1280px){
            padding-left: 20px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.08);

        }
    }

    // .header__nav
    &__nav {
        display: none;

        @media (min-width:1280px) {
            display: flex;

        }
    }

    // .header__list
    &__list {}

    // .header__item
    &__item {}

    // .header__link
    &__link {}

    // .header__order
    &__order {
        @media (min-width:1000px) {
            display: none;
        }
    }

    // .header__contacts
    &__contacts {}

    // .header__basket
    &__basket {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (min-width:1000px) {
            gap: 12px;
        }

    }

    // .header__basket-link
    &__basket-link {}

    // .header__basket-img
    &__basket-img {
        width: 24px;
        height: 24px;
    }



    // .header__basket-name
    &__basket-name {
        display: none;

        &:hover {
            color: $textColorActive;
        }

        @media (min-width:1280px) {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 13px;
        }
        @media (min-width:1440px){
            font-size: 14px;
        }
    }



    // .header__counter
    &__counter {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 10px;
        color: $colorTextAccent;

        @media (min-width:1024px) {
            padding-left: 0;
        }
    }

    // .header__logo
    &__logo {
        height: 64px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 16px 0;

        @media (min-width:1280px) {
            height: 165px;
            padding: 20px 40px;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%);
        }


        &-img {
            @include background (url("./../img/header/logo-mob.svg"));
            width: 163px;
            height: 32px;

            @media (min-width:1280px) {
                @include background (url("./../img/header/logo.svg"));
                width: 160px;
                height: 125px;


            }
        }
    }



}


.nav {

    // .nav__list
    &__list {

        display: flex;
        align-items: center;
        gap: 24px;

        @media (min-width:1280px){
            // padding: 32px 0;
        }
        @media (min-width:1440px){
            gap: 32px;
        }

        @media (max-width:768px) {
            position: fixed;
            top: 0;
            left: -100%;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: #170337;
            flex-direction: column;
            justify-content: center;
            transition: left 0.3s ease 0s;
            z-index: 10;

            .menu-open & {
                left: 0;
            }

        }
    }

    // .nav__item
    &__item {
        width: 100%;
        text-align: center;
        white-space: nowrap;
        font-size: 13px;
        @media (min-width:1440px){
            font-size: 14px;
        }
    }

    // .nav__link
    &__link {

        border-bottom: 1px solid;
        border-color: transparent;
        transition: 0.3s ease 0s;

        @media (min-width:1280px){
            padding: 33px 0;
        }

        &:hover {
            color: $textColorActive;
            border-color: $textColorActive;
        }

    }
}





.contacts {
    display: none;

    @media (min-width:1280px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    // .contacts__list
    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 48px;

        // &:hover {
        //     color: $textColorActive;
        // }
    }

    // .contacts__item
    &__item {
        font-size: 13px;
        border-bottom: 1px solid ;
        border-color: transparent;
        
        @media (min-width: 1280px) {
            padding: 33px 0;
        }
        @media (min-width: 1440px) {
            font-size: 14px;
        }
        &:hover {
            color: $textColorActive;
            border-color: $textColorActive;
        }
    }

    // .contacts__tel
    &__tel {
        &:hover {
            color: $textColorActive;
        }
    }

    // .contacts__reserve
    &__reserve {
        &:hover {
            color: $textColorActive;
        }
    }
}

.page-event {

    .nav__link,
    .contacts__item,
    .header__basket-link,
    .header__order {
        color: $textColor;

        &:hover {
            color: $textColorActive;
        }
    }

    .header__basket {
        display: none;
    }
}

.page-banquets {

    .nav__link,
    .contacts__item,
    .header__basket-link,
    .header__order {
        color: $textColor;

        &:hover {
            color: $textColorActive;
        }
    }

    .header__counter {
        color: $textColorActive;
    }
}

//====================================================================================================

//Burger

.icon-menu {
    width: 24px;
    height: 24px;
    padding: 6px 2px;
    display: block;
    cursor: pointer;
    position: relative;
    z-index: 15;

    &__inner {
        position: relative;
        width: 100%;
        height: 100%;

        span,
        &::before,
        &::after {
            content: "";
            transition: all 0.3s ease 0s;
            left: 0px;
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: #C7A17A;
            border-radius: 1px;
        }

        &::before {
            top: 0px;
        }

        &::after {
            bottom: 0px;
        }

        span {
            top: calc(50% - 1px);
        }

        .drop-down--open & {
            span {
                transform: scale(0);
            }

            &::before {
                transform: rotate(-45deg);
                top: calc(50% - 1px);
            }

            &::after {
                transform: rotate(45deg);
                bottom: calc(50% - 1px);
            }
        }
    }
}

.page {
    .header {



        color: $textColor;
    }
}

.scrolled {}