.header {
	@include pos (absolute, $top: 0, $left: 0);
	z-index: 50;
	border-bottom: 1px solid #efefef;
	width: 100%;

	// .header__top
	&__top {
		background-color: $bgColorHeader;
		height: 48px;
		padding: 12px 0;


		@include media(min, xl) {
			height: 88px;
			background-color: $bgColorHeaderBig;
			padding: 32px 0;

		}
	}

	// .header__wrapper
	&__wrapper {

		@include flex (space-between, center);

		@include media(min, xl) {
			gap: 0;
		}
	}

	// .header__right
	&__right {
		@include media(min, xl) {
			@include flex (space-between, center);
			gap: 32px;
		}

		@include media(min, xxl) {
			gap: 48px;
		}
	}

	// .header__burger
	&__burger {}

	// .header__nav
	&__nav {}

	// .header__centr
	&__centr {
		margin-left: 25px;

		@include media(min, xl) {
			display: none;
		}
	}

	// .header__left
	&__left {
		@include flex (space-between, center);
		gap: 32px;

		@include media(min, xxl) {
			gap: 48px;
		}
	}

	// .header__reserve-box
	&__reserve-box {
		display: none;

		@include media(min, xl) {
			@include flex (space-between, center);
			gap: 32px;
			margin-left: 0;
		}

		@include media(min, xxl) {
			gap: 48px;
			font-size: 14px;
		}


	}

	// .header__tel
	&__tel {}


	// .header__reserve
	&__reserve {}

	// .header__cart
	&__cart {}

	// .header__logo
	&__logo {}
}

.home {
	.header {
		border-bottom: none;
		

		&::after {
			@include pseudo;
			@include wh(100%, 224px);
			@include pos (absolute, $top: 0, $left: 0);


			background: linear-gradient(180deg, rgba(2, 2, 3, 0.72) 0%, rgba(2, 2, 3, 0) 100%);

		}

	}

	.header__top {
		background-color: transparent;
		border-bottom: 1px solid rgba(255, 255, 255, 0.12);
	}

	.header__centr {
		margin-left: 0;

	}
}