.header {

	// .header__top
	&__top {
		background-color: $bgColorHeader;
		height: 48px;
		padding: 12px 0;
		margin-bottom: 15px;

		@include media(min, xl) {
			height: 88px;
			background-color: $bgColorHeaderBig;
			padding: 32px 0;
			margin-bottom: 0;
		}
	}

	// .header__wrapper
	&__wrapper {

		@include flex (space-between, center);
		@include media(min, xl) {
			gap: 260px;
		}
	}

	// .header__right
	&__right {
		@include media(min, xl) {
			@include flex (space-between, center);
			gap: 32px;
		}
	}

	// .header__burger
	&__burger {}

	// .header__nav
	&__nav {}

	// .header__left
	&__left {
		@include media(min, xl) {
			@include flex (space-between, center);
			gap: 32px;
		}
	}

	// .header__reserve-box
	&__reserve-box {
		margin-left: 25px;
		@include media(min, xl) {
			@include flex (space-between, center);
			gap: 32px;
			margin-left: 0;
		}

	}

	// .header__tel
	&__tel {}


	// .header__reserve
	&__reserve {
		font-family: 'Jost';
		font-weight: 500;
		font-size: 13px;
		line-height: 185%;
		letter-spacing: 1px;
		text-transform: uppercase;
		color: $textColorLink;
	}

	// .header__cart
	&__cart {}

	// .header__logo
	&__logo {}
}