.menu-item {
	display: flex;
	flex-direction: column;
	gap: 16px;

	@media (min-width:1000px) {

		padding-top: 30px;
	}

	// .menu-item__list
	&__list {
		display: flex;
		justify-content: space-between;
		gap: 16px;
		border-top: 1px solid $colorDecor;
		padding-top: 16px;

		@media (min-width:1000px) {
			gap: 32px;
		}

	}

	// .menu-item__box
	&__box {
		display: flex;
		flex-direction: column;

		@media (min-width:1000px) {
			flex-direction: row;
			gap: 32px;
		}

	}

	// .menu-item__subtitle
	&__subtitle {
		font-family: 'NewBaskervilleC';

		font-weight: 400;
		font-size: 24px;
		line-height: 32px;
		color: $textColorMain;

		@media (min-width:1000px) {

			min-width: 176px;
		}
	}

	// .menu-item__desc
	&__desc {
		font-family: 'Jost';
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		color: $textColorGray;
		max-width: 190px;

		@media (min-width:1000px) {
			max-width: 196px;
		}
	}

	// .menu-item__button
	&__button {

		font-family: 'Jost';
		font-size: 16px;
		line-height: 20px;
		font-weight: 500;
		color: var(--color-text-light);
		background-color: var(--color-accent);

		display: flex;
		justify-content: center;
		align-items: center;
		align-self: flex-end;
		height: 48px;
		max-width: 106px;
		width: 100%;
		padding: 14px 20px;
		border: 2px solid var(--color-accent);
		border-radius: 8px;
		@include transition-time(2);



		&:hover {
			color: var(--color-text-dark);
			background-color: var(--color-text-light);
		}

		&:active {
			background-color: hsl(0, 0%, 80%);
			color: var(--color-text-dark);
		}
	}
}