
.nav {
	
	// .nav__list
	&__list {
		@include flex (space-between, center);
		gap: 24px;
	}
	// .nav__item
	&__item {}
	// .nav__link
	&__link {

font-family: 'Jost';

font-weight: 500;
font-size: 13px;
line-height: 185%;
letter-spacing: 1px;
text-transform: uppercase;

color: $textColor;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
margin: 0px 24px;

	}
}
