// Colors
$textColor: #010103;
$textColorSecondary: #C7A17A;
$textColorLink: #010103;
$textColorHome: #fff;
$colorPrimary: #C7A17A;
$bgColor: #fff;
$bgColorHome:#503D3B;
$bgColorHeader: #FAF5F0;


$grid_breakpoints: (
   xxl: 1591px,
   xl: 1279px,
   lg: 1023px,
   md: 767px,
   sm: 575px,
);




