@font-face {
	font-family: 'Stratos';
	font-display:swap;
	src:url("../fonts/Stratos-Regular.woff2") format("woff2");
	src:url("../fonts/Stratos-Regular.woff") format("woff");
	font-weight:400;
	font-style:normal;
}
@font-face {
	font-family: 'Jost';
	font-display:swap;
	src:url("../fonts/Jost-Regular.woff2") format("woff2");
	src:url("../fonts/Jost-Regular.woff") format("woff");
	font-weight:400;
	font-style:normal;
}
@font-face {
	font-family: 'Jost';
	font-display:swap;
	src:url("../fonts/Jost-Medium.woff2") format("woff2");
	src:url("../fonts/Jost-Medium.woff") format("woff");
	font-weight:500;
	font-style:normal;
}
@font-face {
	font-family: 'NewBaskervilleC Regular';
	font-display:swap;
	src:url("../fonts/NewBaskervilleC Regular.woff2") format("woff2");
	src:url("../fonts/NewBaskervilleC Regular.woff") format("woff");
	font-weight:400;
	font-style:normal;
}
